.box{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 2.5px;
    padding: 17px;
    box-sizing:border-box;
}
#k{
    background-color: orange;
}
#i{
    background-color: white;
}
#s{
    background-color: green;
}